---
import { ViewTransitions } from 'astro:transitions';
import "/src/styles/slumper.css";
import logo from "/public/favicon.svg"
import preview from "/public/slumper.png";

interface Props {
	title?: String;
    favicon?: string;
    description?: string;
}

const { title = "Slumper", favicon = logo.src, description = "Slumper, the gamified exercise randomizer. A simple tool made by Embracket" } = Astro.props; // Provides a default description
---

<head>
    <meta charset="UTF-8" />
    <meta name="application-name" content="Slumper">
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content={preview.src}>
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="941">
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#6ba7d8" />
    <title>{title}</title>
    <ViewTransitions />
</head>