---
import Head from '../components/layouts/Head.astro';
import {Link} from '../components/Link.tsx';
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} favicon="/src/assets/refresh-negative.svg"/>
	<body>
		<header>
			<h1>{title}</h1>
		</header>
		<slot />
		<footer>
			<Link href="https://www.embracket.com" src="/src/assets/embracketlogo.svg" text="Made by Embracket" newtab={true}/>
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/altdonate.svg" text="Donate" newtab={true}/>
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/share.svg" text="Share" clipboard={true} client:only="solid-js"/>
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/github-mark-white.svg" text="GitHub" />
			<Link href="https://github.com/mikael-ros/slumper/issues/new" src="/src/assets/bug.svg" text="Report bug" newtab={true}/>
		</footer>
	</body>
</html>
