---
import logo from "/src/assets/embracketlogo.svg";
import donateIcon from "/src/assets/altdonate.svg";
import shareIcon from "/src/assets/share.svg";
import githubIcon from "/src/assets/github-mark-white.svg";
import bugIcon from "/src/assets/bug.svg";
import favicon from "/src/assets/refresh-negative.svg";

import Head from '../components/layouts/Head.astro';
import {Link} from '../components/Link.tsx';
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
	<Head title={title} description={description} favicon={favicon.src}/>
	<body>
		<header>
			<h1>{title}</h1>
		</header>
		<slot />
		<footer>
			<Link href="https://www.embracket.com" src={logo.src} alt="Embracket logo" text="Made by Embracket" newtab={true}/>
			<Link href="https://ko-fi.com/embracket" src={donateIcon.src} alt="Donate icon" text="Donate" newtab={true}/>
			<Link href="https://www.slumper.me" src={shareIcon.src} alt="Share icon" text="Share" clipboard={true} client:only="solid-js"/>
			<Link href="https://www.github.com/mikael-ros/slumper" src={githubIcon.src} alt="GitHub logo" text="GitHub" />
			<Link href="https://github.com/mikael-ros/slumper/issues/new?assignees=&labels=bug&projects=&template=bug-report.md&title=%5BBug+report%5D+Short+description" src={bugIcon.src} alt="Bug report icon" text="Report bug" newtab={true}/>
		</footer>
	</body>
</html>
